.search-box {
  padding: 8px 15px 9px 15px;
}

select, textarea {
  font-size: 90%;
}

.wy-nav-content {
  max-width: 1100px;
}

#generateButton {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.ds-select {
  width: 80px;
}