/*
(c) Copyright IBM Corp. 2017.  All Rights Reserved.
Distributed under the terms of the Modified BSD License.
*/

body{
    margin-top: 15px;
    background-color: black;
}

a:link{
    color: white;
    text-decoration: none;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: 20px;
}
a:visited{
    color: white;
}

a:hover {
    text-decoration: underline;
}
