body {
  background-color: ##efefef;
}

html, body {
  height: 100%;
}

nav {
  background-color: #efefef;
}

ul {
  margin: auto;
}

#githublogo {
  padding-bottom: 5px;
}

h1 {
  text-align: center;
}

h6 {
  text-align: center;
}

.centerImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;
}

#bannertextdiv {
  width: 100%;
}

#bannertext1 {
  position: relative;
  top: 35%;
  color: white;
  font-size: 3.5em;
  text-align: center;
}

.externalLink {
  color: #0a9577;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #dfe3e6;
  padding: 10px;
}
